{% extends 'base.html.twig' %}
{% block title %}Démarrer une aventure{% endblock %}
{% block body %}

<div class="card text-center">
  <a href="{{ path('app_play_aventure', {'idPartie': partie.id, 'idEtape': partie.etape.id}) }}" class="btn btn-primary">Lancer l'aventure</a>
</div>

{% endblock %}