{% extends 'base.html.twig' %}
{% block title %}Démarrer une aventure{% endblock %}
{% block body %}

<div class="card text-center">
  <div class="card-body">
    <p class="card-text">{{ partie.etape.getTexteAmbiance}}</p>
    <a href="{{ path('app_jouer') }}" class="btn btn-primary">Rejouer une partie</a>
  </div>
</div>

{% endblock %}